<header>
  <div class="logo">My Shop</div>
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li> <!-- Используйте routerLink -->
      <li>
        <a href="#">Categories</a>
        <ul class="dropdown" *ngIf="categories.length > 0">
          <li *ngFor="let category of categories">
            <button (click)="selectCategory(category.id)">{{ category.name }}</button>
          </li>
        </ul>
      </li>
      <li><a routerLink="/albums">Albums</a></li> <!-- Используйте routerLink -->
      <li><a routerLink="/cart">Cart</a></li> <!-- Используйте routerLink -->
    </ul>
  </nav>
</header>