<div class="albums-container">
    <h2>Album Photos</h2>
    <div *ngFor="let photo of photos" class="product-card">
      <div class="product-img">
        <img 
      [src]="photo.thumbnailUrl || 'https://placehold.co/150x150?text=No+Image'" 
      [alt]="photo.title"
      (error)="handleImgError($event, photo)" 
      />
      </div>
      <div class="card-body">
        <div class="name-of-product">
          <h3>{{ photo.title }}</h3>
        </div>
      </div>
    </div>
    <button (click)="onReturn()">Return</button>
  </div>